body {
    background: #5F00EA;
    background: -moz-linear-gradient(left, #5F00EA 0%, #EC407A 50%, #FDD835 100%);
    background: -webkit-linear-gradient(left, #5F00EA 0%, #EC407A 50%, #FDD835 100%);
    background: linear-gradient(to right, #5F00EA 0%, #EC407A 50%, #FDD835 100%);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
    color: white;
}

#reset-button {
    font-size: 5vmin;
}

/* button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    background: none;
    border: 4px solid #fff;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px auto;
    padding: 1em 3em;
    position: relative;
    text-transform: uppercase;
}

button::before,
button::after {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
}

button:hover {
    color: #36454F;
}

.choiceBtn::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.choiceBtn:hover:after {
    width: 100%;
} */